// Base
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $text-small;
  font-weight: 400;
  color: $color-shade;
  background-color: $color-background;
}

// Utilities
.container {
  max-width: $max-width;
  margin: 0 auto;
}

.full-page {
  height: 100vh;
  overflow: hidden;
}

.hide-display {
  display: none !important;
}

.underline {
  border-bottom: 2px solid $color-main;
}

.highlight {
  padding: calc(#{$space-supersmall}/ 2) $space-supersmall;
  background-color: $color-accent;
  // color: $color-shade;
  font-weight: 500;
}

.shaded-table-region {
  color: $color-background;
  background-color: $color-shade;
}

.small-margin-top {
  margin-top: $space-small;
}

// Mixins
@mixin flex-box-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-box-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
  border: none;
}

// Temporary
// #calc-ascvd {
//   display: none;
// }
