// HOME
.formulary {
  margin: $space-sub 0;

  &__search {
    @include flex-box-row;
    margin-bottom: $space-sub;
    padding: 0 $space-small;
    position: relative;

    &--icon {
      background-color: $color-main;
      color: $color-background;
      font-size: $text-small;
      padding: $space-mini $space-supersmall;
      padding: $space-mini 0 $space-mini $space-mini;
      z-index: 2;
    }

    &--input {
      width: 100%;
      padding: $space-mini $space-supersmall $space-mini $space-mini;
      padding-left: $space-gap;
      transform: scaleX(1.1) translateX(-$space-mini);
      font-size: calc(#{$text-mini + $text-small}/ 2);
      font-family: inherit;
      background-color: $color-main;
      color: $color-background;
      outline: none;
      border: none;

      &::placeholder {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
      }
    }

    &--clear {
      position: absolute;
      top: calc(#{$space-mini + $space-supersmall}/ 2);
      right: calc(#{$space-small + $space-sub}/ 2);
      z-index: 2;
      padding: $space-supersmall $space-mini;
      background-color: transparent;
      border: none;
      color: $color-background;
      transform: scale(1.25);
    }
  }

  &__intro {
    margin-top: $space-decent;
    padding: $space-gap 0 $space-standard;
    background-color: $color-main;

    &--txt {
      @include flex-box-col;
      gap: $space-mini;
      padding-bottom: $space-small;
      color: $color-background;

      &--focus {
        font-size: $text-standard;
        font-weight: 600;
        text-transform: uppercase;
        @include flex-box-row;

        img {
          width: $space-sub;
          height: auto;
          margin-right: $space-mini;
        }
      }
    }

    &--pic {
      @include flex-box-row;
      justify-content: center;
      gap: $space-small;
      background-color: $color-background;
      padding: $space-small 0;

      img {
        height: $space-decent;
        width: auto;
      }
    }

    &--updated {
      background-color: $color-background;
      font-size: calc(#{$text-mini + $text-supersmall}/ 2);
      text-align: center;
      padding-bottom: $space-mini;
    }
  }

  &__results {
    margin-top: $space-gap;

    &--list {
      @include flex-box-col;
      align-items: flex-start;
      justify-content: flex-start;
      // gap: $space-supersmall;
      overflow-y: scroll;
      height: calc(#{$space-big}* 3);
      border-top: 1px solid $color-tint;
      border-bottom: 1px solid $color-shade;
      // background-color: $color-white;
    }

    &--link {
      list-style: none;
      padding: $space-mini $space-mini $space-mini $space-gap;
      font-size: $text-mini;
      height: calc(#{$space-widegap + $space-decent}/ 2);
      width: 100%;
      border-bottom: 1px solid $color-tint;
      line-height: 1.4;
      background-color: $color-tint;
      color: $color-grey;

      &:nth-child(even) {
        background-color: $color-background;
        color: $color-shade;
      }
    }
  }
}

// TARGET
#main {
  position: relative;
}

#target {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $color-background;
  z-index: 3;
  transform: translateX(-100%);
  transition: all 0.3s;
}

.target {
  padding: $space-standard $space-small;

  &__box {
    overflow-y: scroll;
    height: 85vh;
    border-top: 1px solid $color-shade;
    border-bottom: 1px solid $color-shade;
    padding: $space-small $space-supersmall;
    @include flex-box-col;
    align-items: flex-start;
    gap: $space-small;

    &--row {
      @include flex-box-col;
      align-items: flex-start;
      gap: $space-supersmall;

      &--link {
        @include flex-box-row;
        gap: $space-mini;
        // margin-top: $space-supersmall;
      }
    }

    &--header {
      font-size: calc(#{$text-mini + $text-small}/ 2);
      font-weight: 700;
      color: $color-shade;
    }

    &--txt {
      font-size: $text-mini;
      font-weight: 400;
      text-align: justify;
      line-height: 1.4;
    }

    &--tag {
      font-size: calc(#{$text-mini + $text-supersmall}/ 2);
      font-size: $text-supersmall;

      padding: $space-supersmall $space-mini;
      background-color: $color-accent;
      color: $color-shade;
    }

    &--link {
      font-size: calc(#{$text-mini + $text-supersmall}/ 2);
      font-size: $text-supersmall;
      color: $color-grey;
    }
  }

  &__exit {
    position: absolute;
    top: $space-small;
    right: $space-sub;

    &--btn {
      font-size: $text-mini;
      background-color: $color-alert;
      color: $color-background;
      padding: $space-supersmall $space-mini;
      @include box-shadow;
    }
  }
}
